*,
*::before,
*::after {
    box-sizing: border-box;
}

/* the body element of all recipes */
body {
    font-family: sans-serif, monospace, 'Times New Roman', Times, serif;
    font-size: 1rem;
}

.pizza {
    background-image: url("pizza.jpg");
    background-size: auto;
}

.lemon {
    background-image: url("lemonad.jpg");
    background-size: auto;
}

.burger {
    background-image: url("burger.jpg");
    background-size: auto;
}

/* end of all body element */

/* main tile h1 and the odin logo */
.head {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}

h1 {
    margin: 0;
    font-size: 100px;
    font-weight: bold;
    -webkit-text-stroke: #000000 2px;
    text-shadow: 2px 2px black;
    color:rgb(255, 195, 77);
}

img {
    margin: 0 25px;
    height: 100px;
    width: 125px;
}
/* end of main h1 and logo */

/* all grid layout */
.main-grid {
    display: grid;
    gap: 1.5rem;
}

.grid-col-span1, .grid-col-span2, .grid-col-span3, .grid-col-span4 {
    border-radius: 5%;
    background-color: #333;
    color: antiquewhite;
}

@media (min-width: 40em) { /* TODO: 50em */
    .main-grid{
        grid-template-columns: repeat(3, 1fr);
    }
    .grid-col-span1 {
        grid-column: span 2;
    }
    section:nth-child(2) {
        grid-column: 1;
        grid-row-start: 2;
    }
    section:nth-child(3) {
        grid-column: 1;
        grid-row-start: 3;
    }
    section:nth-child(4) {
        grid-column: 2;
        grid-row-start: 3;
    }
}

/* grid layout end */

/* p element and all recipes img tweaks */
.intro {
   float: right; 
}

p {
    padding: 0 40px 0 40px;
}

.tortilla, .lemon-pic, .burger-pic {
    height: 100px;
    width: 100px;
    float: left;
    border-radius: 50%;
}
/* end of tweaks of p and img elements */

/* ul and ol element tweaks */
.list-head {
    margin: auto;
    padding: 20px 0 20px 0;
    text-align: center;
}

ul {
    padding: 0 40px 0 40px;
    list-style-type: none;
}

ol {
    padding: 0 40px 0 40px;
}

i {
    padding: 5px;
}

li {
    text-align: center;
}
/* ul and ol tweaks end */


