*,
*::before,
*::after {
    box-sizing: border-box;
}

/* body css */
body {
    background-image: url("food.jpg");
    background-size: auto;
    font-family: sans-serif, monospace, 'Times New Roman', Times, serif;
    font-size: 1rem;
}
/* end of body */

/* main tile h1 and the odin logo */
.head {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}

h1 {
    margin: 0 0;
    font-size: 100px;
    font-weight: bold;
    -webkit-text-stroke: #000000 2px;
    text-shadow: 2px 2px black;
    color:rgb(255, 195, 77);
}

img {
    margin: 0 25px;
    height: 100px;
    width: 125px;
}
/* end of main h1 and logo */


/* div class .menu, ul class .list */
.menu {
    margin: 10% auto;
    height: 300px;   
    width: 300px;
    border-radius: 5%;
    background-color: #333;
    color: antiquewhite;
}

.list {
    height: 100%;
    width: 100%;
    padding-left: 0;    
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    list-style-type: none;
}
/*end of div class .menu, ul .list */

/* a element */
a {
    color: aliceblue;
    transition: all 0.3s;
}

a:hover {
    color: rgb(0, 132, 255);
    font-size: 20px;
}
/* end of a element */
